@using Assignment2Project.Areas.Admin.Models
@model AssetViewModel

@{
    ViewData["Title"] = "Edit Asset";
}

<div>
    <form method="post" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Asset.Id" name="id" />
        <h1 class="mb-3">Edit an Asset</h1>
        <hr />
        <div class="my-3">
            @Html.DropDownListFor(m => m.SelectedRoom, Model.RoomList, "Select a room", new {@class = "form-select", id="Room"})
            <span asp-validation-for="SelectedRoom" class="text-danger"></span>
        </div>
        <div class="my-3">
            @Html.DropDownListFor(m => m.Asset.CategoryId, Model.CategoryList, "Select a category", new {@class = "form-select"})
            <span asp-validation-for="Asset.CategoryId" class="text-danger"></span>
        </div>
        <div class="my-3">
            <input asp-for="Asset.Name" class="form-control form-control" type="text" placeholder="Name">
            <span asp-validation-for="Asset.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success w-100">Edit</button>
        </div>
        <div>
            <a asp-action="Index" class="btn btn-primary mt-3">Back to List</a>
        </div>
    </form>
</div>