@model GeneralIssueModel
@{
    ViewData["Title"] = "Create Issue";
}

<h2 class="my-3">Add a General Issue for Review</h2>

<div>
    <form method="post" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h1 class="mb-3">Create a New Issue</h1>
        <div class="my-3">
            <h3 >Please Explain the Issue in as much Depth as Possible:</h3>
            <input asp-for="Details" class="form-control form-control" type="text" placeholder="Name">
            <span asp-validation-for="Details" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success w-100">Create</button>
        </div>
    </form>
</div>
