@using Assignment2Project.Areas.Admin.Models
@model ManageInstitutionViewModel
@{
    ViewData["Title"] = "ManageInstitution";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage @Model.User.Fname 's Institution</h2>
        </div>
        <div class="card-body">
            <h5>Select User's Institution:</h5>

              <input type="hidden" asp-for="@Model.User.Id"/>

              @Html.DropDownListFor(m => m.User.InstitutionId, Model.InstitutionList, "Select a institution", new {@class = "form-select"})

              <span asp-validation-for="User.InstitutionId" class="text-danger"></span>

        </div>
        <div class="card-footer">
            <button class="btn btn-info" type="submit">Update</button>
            <a class="btn btn-danger" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>
