@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomUserModel> SignInManager
@inject UserManager<CustomUserModel> UserManager


@{
    CustomUserModel currentUser;
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {


        currentUser = await UserManager.FindByEmailAsync(User.Identity.Name);
        if (await UserManager.IsInRoleAsync(currentUser, "Estates_Admin"))
        {
            <div class="dropdown mx-2">
                <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin Menu
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="RolesManager" asp-action="Index">Roles</a></li>
                    <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="UserRoles" asp-action="Index">Users</a></li>
                    <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="Institution" asp-action="Index">Institutions</a></li>
                    <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="Room" asp-action="Index">Rooms</a></li>
                    <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="Asset" asp-action="Index">Assets</a></li>
                </ul>
            </div>
        }
        if (await UserManager.IsInRoleAsync(currentUser, "Institution_Manager"))
        {
            <div class="dropdown mx-2">
                <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Manager Menu
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="nav-link text-dark" asp-controller="Home" asp-action="MaintenanceIssues">Maintenance Issues</a></li>
                    <li><a class="nav-link text-dark" asp-controller="Home" asp-action="GeneralIssues">General Issues</a></li>
                    <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="Asset" asp-action="IndexManager">Asset Manager</a></li>
                </ul>
            </div>
        }
        if (await UserManager.IsInRoleAsync(currentUser, "Institution_Staff"))
        {
            <div class="dropdown mx-2">
                <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Staff Menu
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="Asset" asp-action="IndexStaff">View Assets</a></li>
                    <li><a class="nav-link text-dark" asp-controller="Home" asp-action="MaintenanceIssuesStaff">Maintenance Issues</a></li>
                    <li><a class="nav-link text-dark" asp-controller="Home" asp-action="GeneralIssuesStaff">General Issues</a></li>

                </ul>
            </div>
        }



        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
