@{
    ViewData["Title"] = "Home Page";
}


<div class="my-5">
    <a asp-controller="MaintenanceIssue" asp-action="Create" class="btn btn-info me-3">Submit a Maintenance Issue</a>
    <a asp-controller="GeneralIssue" asp-action="Create" class="btn btn-info">Submit a General Issue</a>
</div>
