/*
@media only screen
and (max-device-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {

}
*/

/*----NAVBAR----*/
.navbar{
    background-color: #73675C;
    font-family: 'Comfortaa', cursive;
    width: 100%;
}
#navbar-title{
    margin-left: 2vw;
}
.nav-item{
    margin-left: 5vw;
}
/*----HOME SCREEN BANNER----*/
#banner-image {
    width: 100vw;
    height: 40vh;
    object-fit: cover;

}
#about-banner-image{
    width: 100vw;
    height: 20vh;
    object-fit: cover;
}
.banner-text-welcome{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding-top: 2.5vh;
    text-decoration: underline;
    font-weight: bold;
    position: center;
}
@media only screen
and (max-device-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {
    .banner-text-welcome{
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        padding-top: 2.5vh;
        text-decoration: underline;
        font-weight: bold;
        position: center;
        font-size: 4.5vw !important;
    }
}
.booking-text{
    border-style: solid;
    border-width: 4px;
    font-weight: lighter;
    background-color: rgba(31,31,31,0.8);
}
@media only screen
and (max-device-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {
    .booking-text{
        color: white;
        border-style: solid;
        border-width: 4px;
        font-size: 4vw !important;
        font-weight: lighter;
    }
}
.banner-text{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
@media only screen
and (max-device-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {
    .banner-text{
        color: #FFFFFF;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 3.5vw !important;
    }
}
.card{
    border-color: white;
    width: 15vw;
}
/*----HOME SCREEN----*/
.main{
    background-color: #2C3E40;
}

.heading-text{
    padding-top: 1vh;
    color: white;
    text-align: center;
}
.text{
    padding-top: 1vh;
    color: white;
    font-family: Roboto;
    text-align: center;
}
#box1{
    background-image: url(../Images/Home_Image_1.jpg);
    background-size: cover;
    min-height: 50vh;
}
#box2{
    background-image: url(../Images/Home_Image_2.jpg);
    background-size: cover;
    min-height: 50vh;
}
#box3{
    background-image: url(../Images/Home_Image_3.jpg);
    background-size: cover;
    min-height: 50vh;
}
.section{
    min-height: 100vh;
}
/*----HOME SCREEN SPECIALS----*/
.specials-images{
    height: 40vh;
    width: 40vh;
    object-fit: cover;
}
.page-divider{
    color: white;
    border: 1px solid white;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;

}
/*----ABOUT PAGE----*/
#about-caption{
    background-color: rgba(30,30,30,0.6);
}
#about-section{
    background-color: #BFB6AE;
}
#about-text{
    text-align: left;
    color: black;
}
/*----FOOTER----*/
#footer{
    background-color: #73675C;
    margin-right: 0;
}
.footer-text{
    font-weight: lighter;
}
