
/*----NAVBAR----*/
.navbar{
    width: 100vw;
    background-color: #73675C;
    height: 12vh;
    font-family: 'Comfortaa', cursive;
}
#navbar-title{
    font-size: 2vw;
    margin-left: 2vw;
}
#navbarItems{
    margin-left: 10vw;
    font-size: 1.5vw;

}
.nav-item{
    padding-right: 5vw;
}
/*----BANNER----*/
#banner-image {
    opacity: 85%;
    width: 100vw;
    height: 40vh;
    object-fit: cover;
}

/*----HOME SCREEN----*/
.main{
    background-color: #2C3E40;

}
#footer{
    background-color: #73675C;
    height: 6vh;
}