/*----NAVBAR STYLING----*/
.navbar{
    background-color: #73675C;
    font-family: 'Comfortaa', cursive;
    width: 100%;
}
.nav-item{
    margin-left: 5vw;
}


/*----BANNER STYLINGS----*/
#banner-image{
    width: 100vw;
    height: 40vh;
    object-fit: cover;
}
#about-banner-image{
    width: 100vw;
    height: 20vh;
    object-fit: cover;
}
#banner-image-food{
    width: 100vw;
    height: 95vh;
    object-fit: cover;
    opacity: 85%;
}
#booking-banner-image {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
}
.banner-text-welcome{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding-top: 2.5vh;
    text-decoration: underline;
    font-weight: bold;
    position: center;
}
@media only screen
and (max-device-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {
    .banner-text-welcome{
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        padding-top: 2.5vh;
        text-decoration: underline;
        font-weight: bold;
        position: center;
        font-size: 4.5vw !important;
    }
}
.booking-text{
    border-style: solid;
    border-width: 4px;
    font-weight: lighter;
    background-color: rgba(31,31,31,0.8);
}
@media only screen
and (max-device-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {
    .booking-text{
        color: white;
        border-style: solid;
        border-width: 4px;
        font-size: 4vw !important;
        font-weight: lighter;
    }
}
.banner-text{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
@media only screen
and (max-device-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {
    .banner-text{
        color: #FFFFFF;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 3.5vw !important;
    }
}
.card{
    border-color: white;
    width: 15vw;
}


/*----HOME SCREEN STYLING----*/
.main{
    background-color: #2C3E40;
}
.heading-text{
    padding-top: 1vh;
    color: white;
    text-align: center;
}
.text{
    padding-top: 1vh;
    color: white;
    font-family: Roboto;
    text-align: center;
}
#box1{
    background-image: url(../Images/Home_Image_1.jpg);
    background-size: cover;
    min-height: 50vh;
}
#box2{
    background-image: url(../Images/Home_Image_2.jpg);
    background-size: cover;
    min-height: 50vh;
}
#box3{
    background-image: url(../Images/Home_Image_3.jpg);
    background-size: cover;
    min-height: 50vh;
}


/*----HOME SCREEN SPECIALS STYLING----*/
.specials-images{
    height: 40vh;
    width: 40vh;
    object-fit: cover;
}
.page-divider{
    color: white;
    border: 1px solid white;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}


/*----ABOUT PAGE STYLING----*/
#about-caption{
    background-color: rgba(30,30,30,0.6);
    width: 100%;
}
.about-section{
    background-color: #BFB6AE;
}
#about-text{
    text-align: left;
    color: black;
}
.about-images1{
    object-fit: cover;
    width: 23vw;
}
@media only screen
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2) {
    .about-images1{
        object-fit: cover;
        width: 75vw;
    }
}
.about-images2{
    object-fit: cover;
    width: 11vw;
    min-height: 25vh;
}
@media only screen
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2) {
    .about-images2{
        object-fit: cover;
        width: 35vw;
        min-height: 25vh;
    }
}
.about-images3{
    object-fit: cover;
    width: 11vw;
    min-height: 25vh;
}
@media only screen
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2) {
    .about-images3{
        object-fit: cover;
        width: 35vw;
        min-height: 25vh;
    }
}
.about-images4{
    object-fit: cover;
    width: 23vw;
}
@media only screen
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2) {
    .about-images4{
        object-fit: cover;
        width: 75vw;
    }
}
.about-image-container{
    display: inline-block;
}


/*----FOOD SCREEN STYLING----*/
.food-text{
    font-family: 'Roboto', sans-serif;
    padding-top: 2.5vh;
    font-weight: bold;
}
@media only screen
and (max-device-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {
    .food-text{
        font-family: 'Roboto', sans-serif;
        padding-top: 2.5vh;
        font-weight: bold;
        font-size: 4.5vw !important;
    }
}
#section-1{
    background-image: url(../Images/Food_Banner.jpg);
    background-size: cover;
}
.food-banner-text{
    padding-top: 60vh;
}
@media only screen
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2) {
    .food-banner-text{
        padding-top: 50vh;
    }
}
.section-text{
    padding-top: 50vh;
}
#section-2{
    background-image: url(../Images/MainMenu_Image.jpg);
    background-size: cover;
}
#section-3{
    background-image: url(../Images/Takeaway_Image.jpg);
    background-size: cover;
}
#section-4{
    background-image: url(../Images/Buffet_Image.jpg);
    background-size: cover;
}
#section-5{
    background-image: url(../Images/Gluten-Free_Image.jpg);
    background-size: cover;
}


/*----UPDATES PAGE STYLING----*/
.updates-heading-text{
    padding-top: 1vh;
    text-align: left;
}
#more{
    display: none;
}


/*----CONTACT PAGE STYLING----*/
#contact-image{
    background-image: url(../Images/Contact_Image.jpg);
    background-size: cover;
    height: 100vh;
}
.contact-heading-text{
    padding-top: 1vh;
    color: white;
    text-align: left;
}
.contact-text{
    padding-top: 1vh;
    color: white;
    font-family: Roboto;
    text-align: left;
}


/*----BOOKING PAGE STYLING----*/
#booking-image{
    background-image: url(../Images/Booking_Image.jpg);
    background-size: cover;
    height: 60vh;
}
#booking-form{
    width: 40vw;
}
#booking-banner-text{
    font-size: 1.5vw;
}
@media only screen
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2) {
    #booking-banner-text{
        font-size: 3vw;
    }
}


/*----SPORTS PAGE STYLING----*/
#sports-section{
    min-height: 100vh;
}
#sports-image{
    width: 40vh;
    object-fit: cover;
}


/*----FOOTER STYLING----*/
#footer{
    background-color: #73675C;
    margin-right: 0;
}
.footer-text{
    font-weight: lighter;
}
